<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=account_circle,barcode_scanner,chevron_left,chevron_right,qr_code_scanner,search&display=swap">
    <link rel="stylesheet" th:href="@{/styles.css}">
    <link rel="stylesheet" th:href="@{/hovedside.css}">

</head>
<body>
<div th:insert="~{fragments :: header}"></div>

<div class="container">
    <h2>Welcome, <span th:text="${user.username}"></span>!</h2>

    <img th:src="${'/images/default-profile.png'}"
         alt="Profile Picture"
         class="profile-pic">

    <p><strong>Bio:</strong> <span th:text="${'No bio available'}"></span></p>


    <p><strong>Total Reviews:</strong> <span th:text="${ 0}"></span></p>


    <p><strong>Joined:</strong> <span th:text="${user.created_at}"></span></p>


</div>

<div class="container">
    <h3><span th:text="${user.username}"></span>'s shelves</h3>
    <p><a href="brukerbokliste.html"></a>all books</p>
</div>


</body>

</html>
