<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=account_circle,barcode_scanner,chevron_left,chevron_right,qr_code_scanner,search&display=swap">
    <link rel="stylesheet" th:href="@{/styles.css}">
    <link rel="stylesheet" th:href="@{/hovedside.css}">
</head>
<body>
<header th:fragment="header">
    <nav class="navbar">
        <span id="hamburger-icon">&#9776;</span>
        <h1 id="header"><a th:href="@{/}">BetterReads</a></h1>
        <div class="sidebar">
            <ul class="menu">
                <li>
                    <search class="searchbar-nav">
                        <form th:action="@{/search}" method="get">
                            <select name="searchType" aria-label="Search Filter Navbar" id="searchTypeNav">
                                <option value="title">Title</option>
                                <option value="author">Author</option>
                                <option value="isbn">ISBN</option>
                            </select>
                            <input aria-label="navsearch" id="navsearch" type="search" name="query" placeholder="Search...">
                            <button type="submit">Search</button>
                        </form>
                    </search>
                </li>
                <li><a th:href="@{/hovedside}">Home</a></li>
                <li><a href="">My Books</a></li>
                <li><a href="">Browse</a></li>
            </ul>
        </div>
        <div class="auth-links">
            <div th:if="${username == null}">
                <a th:href="@{/signup}">Register</a>
                <a th:href="@{/login}">Login</a>
            </div>
        </div>
        <div class="user">
            <i class="material-symbols-outlined">account_circle</i>
        </div>
    </nav>
</header>

<footer th:fragment="footer" class="footer">
    <div class="footer-container">
        <div class="footer-header">
            <h1><span class="skinny">better</span><span class="fat">reads</span></h1>
        </div>
        <div class="footer-section">
            <h3>About us</h3>
            <p>...</p>
        </div>
        <div class="footer-section">
            <h3>Help</h3>
            <p>...</p>
        </div>
        <div class="footer-section">
            <h3>Contact us</h3>
            <p>...</p>
        </div>
        <div class="media"></div>
    </div>
    <div class="copyright">
        <p>&copy; 2025 BetterReads. All rights reserved.</p>
    </div>
</footer>
</body>
</html>
