<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logg inn</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">

</head>
<body>
<div class="container">
    <form class="signin-form">
        <h2>Logg inn</h2>
        <div class="input-group">
            <label for="email">Email</label>
            <input type="email" id="email" placeholder="Enter your email" required>

        </div>
        <div class="input-group">
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="Enter your password" required>

        </div>
        <button type="submit">Logg inn</button>
        <p class ="register-link">No account? <a href="Registrering.html"></a></p>
        


    </form>

</div>

</body>
</html>